body {
    background-color: #012238;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    margin: 0px;
    padding: 0;
}
#container {
    font-family: "Open Sans", sans-serif;
    background-color: #f5f1e8;
    border: 5px solid #f26309;
    margin: 50px auto;
    padding: 50px 100px 50px;
    width: 500px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
#logo {
    width: 120px;
    height: 100px;
    margin-bottom: 25px;
}
#title {
    font-family: "Poppins", sans-serif;
    color: #012238;
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 15px;
}
#slogan {
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    color: #f26309;
    margin-bottom: 20px;
    font-style: italic;
    font-weight: bold;
}
#description {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    margin-bottom: 25px;
}
#pulse {
    margin: 40px 0;
}
#startBtn {
    position: relative;
    text-decoration: none;
}
#pulse-line {
    transition: stroke-width 0.3s ease, stroke 0.3s ease;
}
.start-button {
    background-color: #f26309;
    color: white;
    padding: 18px 40px;
    font-size: 22px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 5px 10px #888888;
}
.start-button:hover {
    background-color: #ff6000;
}
.hz{
    fill: none;
    stroke: #f26309;
    stroke-width: 4;
}
.link__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.avatar__form{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-inline: 0;
    gap: 5px;
}
.avatar__active{
    border-radius: 55px;
    border: 3px solid #f26309;
}
.form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}
.w-100{
    width: 100%;
}
.d-flex{
    display: flex;
}
.justify-content-between{
    justify-content: space-between;
}
.input{
    width: 95%;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    padding-block: 20px;
    padding-left: 15px;
    border-radius: 5px;
}
.submite{
    width: 100%;
}
.hide{
    display: none;
}