body{
    background-color: #fafafa;
}
.loading{
    animation: loading 1s linear infinite;
}
.form-el{
    animation: form-el .3s linear;
}

@keyframes loading {
    to{
        transform: rotate(360deg);
    }
}

@keyframes form-el {
    from{
        opacity: 0;
        transform: translateY(10px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}